<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css"/>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body th:each="character : ${esochar}">
<nav class="navbar navbar-expand-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <h5 class="nav-item nav-link"><a th:href="'/'">Home</a></h5>
            <h5 class="nav-item nav-link" data-toggle="modal" data-target="#myModal">Delete character</h5>
            <h5 class="nav-item nav-link"><a th:href=" '/character/' + ${character.id} + '/edit'">Edit</a></h5>
        </div>
    </div>
</nav>
<div class="row m-3">
    <div class="col-12 col-md-6 center-block text-center">
        <div class="base-stats-item">
            <img class="img-fluid rounded" th:src="${character.imagePath}" alt="Card image cap">
            <div class="center">
                <p class="char_name" th:text="${character.name}"/>
                <p class="char_class" th:text="${character.charClass}"/>
                <p class="hp-item" th:text="${character.hp}"/>
                <p class="mp-item" th:text="${character.mp}"/>
                <p class="sp-item" th:text="${character.sp}"/>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 center-block text-center">
        <div class="gear-list-item p-3">
            <ul style="list-style-type:none;" th:each="character : ${esochar}" class="charGear">
                <li th:text="${character.headSlot?.name}"/>
                <li th:text="${character.shoulderSlot?.name}"/>
                <li th:text="${character.bodySlot?.name}"/>
                <li th:text="${character.waistSlot?.name}"/>
                <li th:text="${character.handSlot?.name}"/>
                <li th:text="${character.legSlot?.name}"/>
                <li th:text="${character.bootsSlot?.name}"/>
                <li th:text="${character.leftRing?.name}"/>
                <li th:text="${character.rightRing?.name}"/>
                <li th:text="${character.neckSlot?.name}"/>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-6 p-5">.col-6 .col-md-4</div>
    <div class="col-12 col-md-6 p-5">.col-6 .col-md-4</div>
</div>
<hr>
<!--Bottom Footer-->
<div class="bottom section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>© 2020 Mauhwi </p>
            </div>
        </div>
    </div>
</div>

<!------------------------------------Modal------------------------------------------>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content border-0">
            <div class="modal-header border-0">
                <h5 class="modal-title">Delete character</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" th:each="character : ${esochar}">
                <form th:action="'/character/' + ${character.id} + '/delete'" method="post">
                    <div class="form-group">
                        <p>Are you sure?</p>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="submit" class="btn btn-default">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>